// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$light-blue: #17a2b8;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Application Color Scheme
$app-black: black;
$app-white: #FCFBF4;
$app-light-grey: grey;
$app-dark-grey: rgb(77, 75, 75);

$app-orange: #fa8334;
$app-light-green: #ABD699;
$app-light-blue: #c7ddcc;
$app-blue: #75c9b7;
$app-navyblue: #16123f;
$app-light-navyblue-op75: #7516123f;
$app-gradient:  #FCFBF4;
$link-color: rgb(74,31,165);
$app-light-red: rgb(232, 63, 111);

// CURRENT COLORS
$app-blue: #75c9b7;
$app-text: #28262C;
$app-body: #FCFBF4;
