.book-index-container-card {
  width: 150px;
  min-height: 220px;
  border-radius: 5px;
  background-color: $app-white;
  margin-bottom: 20px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;



  img {
    height: 220px;
    width: 150px;
    border-radius: 5px;
  }

  a {
    text-decoration: none;
  }

  p  {
    font-size: 12px;
  }

  h6 {
    font-size: 16px;

    // Limit the heading for several lines
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    display: -moz-box;
    -moz-box-orient: vertical;

    overflow: hidden;
  }

}
