.book-index-container-card {
  width: 150px;
  border-radius: 5px;
  background-color: $app-white;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 220px;
    width: 150px;
    border-radius: 5px;
  }

}

.index-text-container {
  background-color: whitesmoke;
  text-decoration: none;
  border-radius: 5px;

    // Limit the heading for several lines
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    display: -moz-box;
    -moz-box-orient: vertical;

    overflow: hidden;

}
