// Specific CSS for your home-page
.main-header {
  position:-webkit-sticky;
  position:sticky;
  top:0;
}


.book-category-container {
  display: flex;
  justify-content: space-between;
 }

 .book-category-label {
   padding: 3px 10px;
   background-color: $app-blue;
   border-radius: 20px;
   }

 .book-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 25px;
  flex-wrap: wrap;
 }

.book-container-card {
  width: 150px;
  min-height: 300px;
  border-radius: 10px;
  background-color: $app-white;
  margin-bottom: 20px;
  text-decoration: none;

  img {
    height: 220px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  a {
    text-decoration: none;
  }

  p  {
    font-size: 12px;
  }

  h6 {
    font-size: 16px;

    // Limit the heading for several lines
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    display: -moz-box;
    -moz-box-orient: vertical;

    overflow: hidden;
  }

}

.search-bar {
position: absolute;
height: 40px;
border-radius: 40px;
padding: 10px;
background: $app-blue;
}

.book-category-container {
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
}

.genre {

  position: absolute;
  transform:scale(0);
}

.genre + label {
cursor: pointer;
display: inline-block;
font-size: 0.8rem;
border-radius: 50rem;
padding: 0.5rem 0.8rem;
background-color: $app-blue;
color: $app-light-navyblue;
border: 1px solid $app-light-navyblue;
margin-right: 0.6rem;
margin-bottom: 0.4rem;

}

.genre:checked + label {

  background-color: $app-light-green;
  color: $app-white !important;
}
