// Specific CSS for your home-page
.results-text {
  margin-top: 4rem !important;
}

.book-category-container {
  display: flex;
  justify-content: space-between;
 }

 .book-category-label {
   padding: 3px 10px;
   background-color: $app-blue;
   border-radius: 20px;
   }

 .book-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 }

 @media(max-width: 1400px) {
  .book-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 950px) {
  .book-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 760px) {
  .book-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media(max-width: 508px) {
  .book-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 340px) {
  .book-container {
    grid-template-columns: 1fr;
  }
}

.book-container-card {
  width: 150px;
  min-height: 220px;
  border-radius: 10px;
  background-color: $app-white;
  margin-bottom: 20px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  img {
    height: 220px;
    width: 150px;
    border-radius: 10px;
  }

  a {
    text-decoration: none;
  }

  p  {
    font-size: 12px;
  }

  h6 {
    font-size: 16px;

    // Limit the heading for several lines
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    display: -moz-box;
    -moz-box-orient: vertical;

    overflow: hidden;
  }

}


.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.book-container-card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.back {
  background-color: $app-white;
  transform: rotateY(180deg);
  height: 220px;
  width: 150px;
  border-radius: 10px;
  overflow:hidden
}

.see-more {
  padding-left: 16px;
    position: absolute;
    bottom: -5px;
}

.ribbon {
  position: absolute;
  height: 24px;
  top: 19px;
  right: -35px;
  transform: rotate(45deg);
  color: $app-white;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 134px;
  // background-color: #C44536;
}

//  .ribbon {
//   width: 0px;
//   height: 90px;
//   background-color: $app-white;
//   position: absolute;
//   top: -5px;
//   right: 20px;
//   border: solid 15px $app-light-green;
//   border-bottom: solid 15px transparent;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;

// }


.ribbon-text {
  // transform: rotate(90deg);
  color: $app-white;
  font-size: 14px;
  margin-top: 6px;
 }

.card-text {
  margin-left: 10px;
  margin-top: 70px;
}

.second-lists {
padding-left: 10px;
grid-template-columns: repeat(2, 1fr);
grid-auto-rows: 220px;
}


