// BOOK IMAGE
.book-image {
  display: flex;
  margin-top: 70px;
  justify-content: center;
  width: 100%;

  img {
    width: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px $app-light-grey;
  }
}

// BOOK TITLE, AUTHOR, CAT
.info {

  margin-top: 28px;
  text-align: center;
}




// READ-MORE
.content-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.content-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {

  margin-left: 10px;
  margin-right: 10px;
}

.read-more {
  display: contents;
  background-color: rgba(237, 235, 235, 0.7);
      border: none;
      border-radius: 15px;
      box-shadow: none;
      font-size: 1rem;
      padding: 2px 5px;
      color: #EF7B45;
}


// COPY CARDS
.book-copy-card {
  color: $app-text;

}

.book-copies {
  height: 125px;
  background: $app-body;
  border-width: 4px 4px 4px 4px;
  border-bottom-color: #EF7B45;
  border-bottom-style:solid;
  border-bottom-width:thin;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.avatar-bordered-small {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-top: 5px;
  margin-left: 5px;
}

.img-comments {
  display: flex;
  justify-content: left;
  padding-left: 10px;
  padding-top: 10px;


  p {
    margin-top: 15px;
    margin-left: 10px;
  }
}

.request-btn {
  text-decoration: none;
}

ul {

  list-style-type: none;
  padding-left: 20px;

  em {
    font-size: small;
  }
}

.display-name {
  // font-weight: lighter;
  font-size: small;
}

.requests {
  display: flex;
  justify-content: space-between;
}

.review {
  border-top-color: #EF7B45;
  border-top-style: solid;
  border-top-width: thin;

  ul em {
font-size:medium;
}
}

.name {
  font-size: smaller
}

.date {
  font-size: xx-small;
}

.show-review {
  margin-top: 10px;
}

.btn-review {
  text-decoration: none;
  color: #EF7B45;
  padding-right: 10px;;
}

.more {
  display: flex;
    justify-content: space-between;
}


.book-category-tag {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  font-size: 12px;
  background-color: $app-light-navyblue-op75 ;
  height: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.show-page-icon-description {
  color: $app-light-grey;
}

.show-page-icon {
  color: $app-dark-grey;
  font-size: 30px;
}

.w3-container {
display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: burlywood;
}
