.book-copies {
  background: aliceblue;

}

.book-image {
  display: flex;
  margin-top: 70px;
  justify-content: center;
  width: 100%;

  img {
    width: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px $app-light-grey;
  }
}


*{padding:0;margin:0;}


.content-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.content-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more {
  display: contents;
  background-color: rgba(237, 235, 235, 0.7);
      border: none;
      border-radius: 15px;
      box-shadow: none;
      font-size: 1rem;
      padding: 2px 5px;
      color: #EF7B45;

}

.info {

  margin-top: 28px;
  text-align: center;
}

.info-isbn {
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;

 p {
  margin-top: 15px;
  font-size: small;

 }
}

.description {

  margin-left: 10px;
  margin-right: 10px;
}
