<div  data-controller="realtime" data-realtime-target="body" class="mb-2 pb-2">
  <% if order.status == "CREATED" %>
    <p class="dashboard-order-status" ><strong><i class="fa-solid fa-book-open"></i> Requested</strong></p>
    <%= link_to "Accept ✅", accept_order_path(order), data: {turbo_method: :patch,  action: "click->realtime#send"}, class: "normal-link", style: "text-decoration: none;"   %>
    <%= link_to "Reject", reject_order_path(order), data: {turbo_method: :patch,  action: "click->realtime#send"}, class: "normal-link", style: "background-color: rgba(242, 38, 19,0.1); border-radius: 12px; border: 2px solid red; padding: 3px 15px !important; font-size: 1rem;" %>

  <% elsif order.status == "ACCEPTED"%>
  <p class="dashboard-order-status" style="background-color:lightgreen;"><strong><i class="fa-solid fa-book-open"></i> Accepted</strong></p>
  <%= link_to "Reject", reject_order_path(order), data: {turbo_method: :patch,  action: "click->realtime#send"},class: "normal-link", style: "background-color: rgba(242,38,19,0.1); border-radius: 12px; border: 2px solid red; padding: 3px 15px !important; font-size: 1rem;" %>
  <% elsif order.status == "REJECTED"%>
  <p class="dashboard-order-status" style="background-color:red"><strong><i class="fa-solid fa-book"></i> Rejected</strong></p>
    <%= link_to "Re-Accept", accept_order_path(order), data: {turbo_method: :patch, action: "click->realtime#send"}, class: "normal-link", style: "background-color: rgba(38, 194, 129,0.1); border-radius: 12px; border: 2px solid green; padding: 3px 15px !important; font-size: 1rem;" %>
  <% end %>
</div>
