<div class="backbar">
 <div class="container-fluid d-flex">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left my-float ms-0" style = "font-size: 20px;"></i>
    <% end %>
    </div>
</div>
