<div class='avatar-bordered d-flex justify-content-center align-items-center' style= "background-color: #75c9b7;" >
  <p style="font-size: 4rem"><%= current_user.display_name ? current_user.display_name[0..1].upcase : "#{current_user.first_name[0].upcase}#{current_user.last_name[1].upcase}" %></p>
</div>
