<div class="navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("/assets/logo-crop.png", class: "navbar-brand", alt: "Book-Buddy logo") %>
  <% end %>

  <div class="search">
    <%= form_with url: root_path, method: :get, html: { data: { search_books_target: "form"}} do |f| %>
        <i class="fa fa-search nav-icon"></i>
      <%= f.text_field :query,
                    value: params[:query],
                    class: "search-bar",
                    placeholder: "Find a book",
                    data: {
                      search_books_target: "input",
                      action: "keyup->search-books#update" }
                    %>

    <% end %>
  </div>

  <div class="book-category-container">
    <div>
      <input class="genre" type="checkbox" id="fiction" name="fiction">
      <label for="fiction">Fiction</label>
    </div>

    <div>
      <input class="genre" type="checkbox" id="sci-fi" name="sci-fi">
      <label for="sci-fi">Sci-fi</label>
    </div>

    <div>
      <input class="genre" type="checkbox" id="fantasy" name="fantasy">
      <label for="fantasy">Fantasy</label>
    </div>

    <div>
      <input class="genre" type="checkbox" id="romance" name="romance">
      <label for="romance">Romance</label>
    </div>

    <div>
      <input class="genre" type="checkbox" id="non-fiction" name="non-fiction">
      <label for="non-fiction">Non ficton</label>
    </div>


  </div>
</div>
