<div class="navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("/assets/logo-crop.png", class: "navbar-brand", alt: "Book-Buddy logo") %>
  <% end %>

  <div class="search">
    <%= form_with url: root_path, method: :get, html: { data: { search_books_target: "form"}} do |f| %>

      <%= f.text_field :query,
                    value: params[:query],
                    class: "search-bar",
                    placeholder: "Find a book",
                    data: {
                      search_books_target: "input",
                      action: "keyup->search-books#update" }
                    %>

    <% end %>
  </div>

  <div class="book-category-container">
    <div>
        <button class="filter-button selected" id="all" data-action="click->filter-books#clearFilter" data-filter-books-target="allBooks">All</button>
        <button class="filter-button" id="fiction" data-action="click->filter-books#filter" data-filter-books-target="button">Fiction</button>
        <button class="filter-button" id="Crime" data-action="click->filter-books#filter" data-filter-books-target="button">Crime</button>
        <button class="filter-button" id="Sci-fi" data-action="click->filter-books#filter" data-filter-books-target="button">Sci-fi</button>
        <button class="filter-button" id="Horror" data-action="click->filter-books#filter" data-filter-books-target="button">Horror</button>
        <button class="filter-button" id="Poetry" data-action="click->filter-books#filter" data-filter-books-target="button">Poetry</button>
      </div>
  </div>
</div>
