<div class="nav sticky-md-bottom bg-success bg-opacity-75 nav-bottom">

  <div class="container-fluid d-flex nav-bottom-item">
        <a href="/" >
          <span class="">
            <i class="fa fa-home nav-icon"></i>
          </span>
        </a>
        <a href="/" >
          <span class="">
            <i class="fa fa-search nav-icon"></i>
          </span>
        </a>
        <a href="/" >
          <span class="">
            <i class="fa fa-envelope nav-icon"></i>
          </span>
        </a>
        <a href="/" >
          <span class="">
            <i class="fa fa-user nav-icon"></i>
          </span>
        </a>
  </div>

</div>
