<% avgrating.to_i.times do |i| %>
  <i class="fa-solid fa-star fa-beat" style="color: #fa8334; font-size: 12px;"></i>
<% end %>
<% if avgrating % 1 != 0 %>
<i class="fa-solid fa-star-half-stroke fa-beat" style="color: #fa8334; font-size: 12px;"></i>
<% end %>
<% (5-avgrating).to_i.times do |i| %>
  <i class="fa-regular fa-star" style="color: #b2b1b1; font-size: 12px;"></i>
<% end %>

<% if avgrating > 0 %>
  <span class="ms-1 ps-1 pe-1" style="background-color: orange; border-radius: 2px; font-size: 11px;"><%= avgrating.round(1) %></span>
<% end %>
