<div class="calendar-container container">
  <%= month_calendar(events: @orders, attribute: :start_date, end_attribute: :end_date) do |date, orders| %>
    <%= date %>

    <% orders.each do |order| %>
      <div class="meeting">
        <p class="m-0 p-0"><%= order.user.display_name %></p>
        <small><%= order.status %></small>
      </div>
    <% end %>
  <% end %>
</div>
