<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-6 col-md-4 form-login">
      <h2>Make a booking</h2>
        <%= simple_form_for [@book_copy, @order] do |f| %>
          <div class="form-inputs">
            <%= f.text_field :start_date, placeholder: 'Start Date', label:true,
            data: {
              controller: "flatpickr",
              flatpickr_date_format: "d-m-Y",
              flatpickr_min_date: Time.zone.now # disables past dates
            } %>
            <%= f.text_field :end_date, placeholder: 'End Date', label:true,
            data: {
              controller: "flatpickr",
              flatpickr_date_format: "d-m-Y",
              flatpickr_min_date: Time.zone.now # disables past dates
            }%>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Order", class: "btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
