<div class="container">
  <h4>My Bookings</h4>

    <% if @orders.length > 0 %>
      <div class="dashboard-order-container">
        <% @orders.each do |order|  %>
          <%= render 'shared/order_card', order: order %>
        <% end %>
      </div>
    <% else %>
      <h6>No books ordered...... yet!.</h6>
      <h6>Time to find your first book. Let the journey begin with Book Buddies...</h6>
      <%= link_to "Start searching", root_path, class: "btn btn-primary"%>
    <% end %>
    <hr>
    <h4>My Books</h4>
    <% if @book_copies.length > 0 %>
       <div class="dashboard-order-container">
        <% @book_copies.each do |book_copy|  %>
          <%= render 'shared/my_book_card', book_copy: book_copy %>
        <% end %>
      </div>
      <% else %>
      <h6>No books added...... yet!.</h6>
      <h6>Share your first book from here.</h6>
      <%= link_to "Add your Book", new_book_path, class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
