<div data-controller="search-books">
  <%= render "shared/navbar" %>
  <div data-search-books-target="list" data-filter-books-target="book" class="container" style="margin-top: 130px;">
    <div class="book-container">

      <% @books.each do |book| %>

        <div class="container m-0 p-0 justify-content-center">
          <div class="row m-0 p-0  justify-content-center">
            <%= render "books/list", book: book %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
