
<div data-controller="search-books" data-controller="filter-books" >
  <%= render "shared/navbar" %>
  <div class="container">
    <%= render "books/list", books: @books %>
    <%= link_to "test add book page", books_path, class: "btn-primary"%>
  </div>
</div>
