.backbar {
  justify-content: space-around;
  // background: rgba(0,0,0,0.1);
  // z-index: 999;
  position: fixed;
  top:0;
  width: 100%;
  height: 50px;
  // border-bottom-style:solid;
  // border-bottom-width:thin;
  // border-bottom-color: $app-light-grey;
}
