.normal-button {
  padding: 10px;
  font-size: 10px;
  border-radius: 3px;
}

.book-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width:300px;
  background: white;
  margin-bottom: 20px;
  margin-top: 25px;
border-radius: 10px;
}
