.message-row {
  margin-bottom: 0.5rem;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 80%;
  max-width: 360px;
  border-radius: 4px;
  padding: 8px;
  min-height: 60px;
  p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: sans-serif;
  }
}

.sender-style {
  background-color: #edd6d6;
}

.receiver-style {
  background-color: #b0dad2;
}
