.navbar {
  justify-content: space-around;
  background:  #FCFBF4;
  position: fixed;
  z-index: 999;
  top:0;
  width: 100%;
  height: min-content;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: $app-light-green;
}

.search {
  border: none;
  align-items: center;
}

.search-bar {
  height: 18px;
  width: 220px;
  padding: 20px;
  border: none;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #FCFBF4;
  color: #28262C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.search-nav-icon {
  position: absolute;
}








  .navbar-brand {
    width: 50px;
  }


  .book-category-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
     a {
      text-decoration: none;
      font-size: smaller;

  }

  .book-category-container::-webkit-scrollbar {
      display: none;

  }
  }

    .filter-button {

      border: none;

      box-shadow: none;
      font-size: .8rem;
      font-weight: 300;
      margin-right: 10px;
      padding: 5px 10px;
      &:hover {
        background-color: rgba(#EF7B45, 0.8);
        color: #FCFBF4;
      }

    }

    .selected {
      color: #FCFBF4;
    }

    .hide {
      display: none;
    }
