.nav-icon {
  color: $app-white;
  padding-bottom: 0.2rem ;
}

.nav-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1rem;
  position: sticky;
  bottom:0;

}

.nav-bottom-item-container {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  a {
  text-decoration: none;
  }
}

.nav-bottom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}
.nav-bottom-text {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}
