.nav-icon {
  color: #354346;
  padding-bottom: 0.2rem ;
}

.nav-icon:hover {
cursor: pointer;
}

.nav-bottom {
  color: #FCFBF4;
  background-color: #FCFBF4;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1rem;
  position: fixed;
  width: 100%;
  bottom:0px;
  z-index: 999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  i:hover {
    color: $app-light-red;
  }
}

.nav-bottom-item-container {
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  a {
  text-decoration: none;
  }
}

.nav-bottom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.nav-bottom-text {
  font-size: 8px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  color: #354346;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  // display: none;
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  white-space: nowrap;
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
